@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar{
    background-color: deepskyblue;
    grid-area: 1 / 1 / 3 / 2;
    color: white;
    padding-left: 2em;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.sidebar > div > i{
    margin-right: .5em;
}

.sidebar .title{
    margin-top: .5em;
    margin-bottom: 1.2em;
    font-size: 2.2rem;
}


.header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.2em;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); */
}

.header .top {
    display: grid;
    grid-template-columns: .3fr 6fr .9fr .5fr .9fr;
    align-items: center;
    margin-top: 1em;
}

.top i{
    font-size: 1.8em;
    margin-left: 2.0em;
}
.top input{
    margin: 0 4em;
    width: 60%;
    border-radius: 10px;
    border-style: solid;
    padding: 5px;


}
.header .top > img {
    width: 3em;
    border-radius: 50%;
}

.header .bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
}
.bottom .left{
    padding-left: 8%;
    display: flex;
    gap: 2em;
    align-items: center;
}

.bottom .right{
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
}
.right > div {
    background-color: deepskyblue;
    padding: .5em 2em;
    border-radius: 1.2em;
}
.greetings > :first-child{
    font-size: .8em;
}
.greetings > p{
    margin: 0;
    padding: 0;
}

.bottom img{
    width: 12%;
    border-radius: 100%;
}

.content {
    background-color: rgb(211, 210, 210);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.4em;
}

.content .projects{
    grid-area: 1 / 1 / 3 / 2;
    margin: 1em;
    margin-top: 0;
}

.cards{
    height: 90%;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card{
    border-left: .4em solid orange;
    border-radius: .3em;
    background-color: white;
    padding: 1em;
}

.card > p{
    font-size: 1rem;
}

.card > i:first-of-type{
    margin-left: 80%;
}


